body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hide;
  background-size: cover;
  background-color:cadetblue ;
}

body::-webkit-scrollbar {
  display: none;
}

.login {
  display: flex;
  height: 100vh;
  max-width: 100vw;
  background-color: #0d1b2a;
  background-image: linear-gradient(rgba(3, 40, 48, 0.8) 10%, rgba(13, 28, 47, 0.8) 40%, rgba(5, 68, 94, 0.5)),
    url("img/chris-montgomery-smgTvepind4-unsplash.jpg");
  background-size: cover;
  padding: 0;
  margin: 0;
  justify-content: center;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.login::-webkit-scrollbar {
  display: none;
}

.login .btn {
  background-color: #d18d00 !important;
  border: 1px solid #573c04;
}

.container {
  color: #ffcc00;
  /* Amber yellow */
  position: absolute;
  width: 500px;
  height: 550px;
  max-width: 500px;
  max-height: 550px;
  margin: 70px auto;
  padding: 20px;
  border: 1px inset #ffcc00;
  /* Amber yellow */
  border-radius: 8px;
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5);
  background-color: rgb(13, 28, 47);
}

.scheduledetails .welcome {
  padding: 150px 30px 5px 30px;
  color: #ffcc00 !important;
  font-family: Calibri, sans-serif;
  height: auto;
}

.modalHeader,
.modalBody {
  background: linear-gradient(to bottom, #431f57a3, #210733) !important;
  background-color: #3b1554 !important;
  color: whitesmoke;
}

.modal-dialog {
  width: 60%;
  height: 70%;
  max-width: 60%;
  max-height: 70%;
  padding: 10px;
}

.modalForm {
  background: linear-gradient(to bottom, #431f57a3, #210733) !important;
}

.modalForm .row {
  margin-bottom: 9px;
}

.modalFooter, .modalFooter.modal-foot {
  background-color:  #210733 !important;
}

.modalBody .form-control {
  border-color: #ffcc00;
  border-radius: 4px;
}

.modalBody .form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.modalBody .invalid-feedback {
  color: #dc3545;
  display: block;
}

/* Specific styling for email errors */
.modalBody .email-error {
  color: #dc3545;
  font-size: 0.8rem;
  margin-top: 5px;
}

.error-badge {
  background-color: #ffcc00;
  color: #0d1b2a;
  padding: 10px 15px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.error-icon {
  font-size: 18px;
  margin-right: 5px;
}

.error-message {
  font-weight: bold;
}

.btn-close {
  color: #0d1b2a;
  /* Dark navy blue */
}

.btn-close:hover {
  background-color: gray;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  background-color: rgba(255, 255, 255, 0.34);
  border-radius: 25%;
}

.nav-design {
  display: flex;
}

span {
  margin: 10px;
  block-size: 30px;
  padding: 0;
}

svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  pointer-events: all;
}

svg path {
  pointer-events: all;
}

.dropdownmenu {
  display: inline-block;
  background-color: transparent;
  border: none;
}

.dropdownToggle {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  content: "";
}

.dropdownToggle:after {
  display: none !important;
  background-color: transparent !important;
}

.dropdownToggle:hover {
  background-color: transparent !important;
}

.dropdownmenu .btn-primary {
  --bs-btn-active-bg: transparent !important;
  margin-bottom: 4px;
}

.dropdown-menu {
  border: 1px solid gray;
  cursor: pointer;
  background-color: black;
  color: whitesmoke;
}

.menuItem {
  padding: 0px 8px;
  background-color: black;
}

.scheduledetails {
  /* background: linear-gradient(180deg, rgba(6, 99, 119, 0.8), rgba(2, 71, 87, 0.8) 20%, rgba(12, 51, 103, 0.9) 70%); */
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  padding: 90px auto;
}

.table {
  width: 80%;
  margin: 40px auto;
  /* width: 100%; */
  overflow-y: auto;
  border: none
}

@keyframes unfold {
  from {
    transform: scaleY(0);
    transform-origin: top;
    opacity: 0;
  }

  to {
    transform: scaleY(1);
    transform-origin: top;
    opacity: 1;
  }
}

td {
  animation: unfold 2s !important;
}

th,
td {
  padding: 15px auto !important;
}

th {
  background-color: #000000 !important;
  color: #ffcc00 !important;
  text-align: center;
  border: none !important;
  animation: unfold 1s !important;
}

td {
  background-color: #0d1b2a !important;
  /* Dark navy blue */
  color: whitesmoke;
  /* White text */
  border: none !important;
}

tr:nth-child(even) td {
  background-color: #0d1b2a !important;
}

tr {
  height: 80px;
  opacity: 0;
  animation: unfold 0.5s forwards !important;
}

tr:hover {
  background-color: rgba(228, 225, 225, 0.2) !important;
  /* border: 3px solid #eef2f6; */
}

thead {
  height: 50px;
}

.scheduledetails th,
.scheduledetails td {
  color: whitesmoke;
  /* White text */
}

.scheduledetails td a {
  color: whitesmoke;
  /* White text */
}

.scheduledetails td a:hover {
  color: #ffcc00;
  /* Amber yellow text on hover */
}

h2 {
  text-align: center;
  color: #ffcc00;
  /* Amber yellow */
}

.navbar {
  position: fixed;
  background-color: #0d1b2a;
  /* Navy blue */
  color: whitesmoke;
  height: 70px;
  width: 100%;
  z-index: 1000;
  /* border-bottom: 1px inset #ffcc00; Amber yellow */
}

form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #c8cbcd;
}

input[type="email"],
input[type="password"],
.form-group textarea,
input[type="textarea"],
input[type="datetime-local"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  color: whitesmoke;
  border: 2px outset #0d1b2a;
  /* Navy blue */
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
.form-group textarea:focus {
  background: transparent;
  color: whitesmoke;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="date"]::placeholder,
input[type="number"]::placeholder,
.form-group textarea::placeholder {
  color: hsl(60, 23%, 95%);
}

input[type="email"]:-webkit-autofill,
input[type="email"]:-webkit-autofill:hover,
input[type="email"]:-webkit-autofill:focus,
input[type="email"]:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: whitesmoke !important;
}

input[type="datetime-local"]:-webkit-autofill,
input[type="datetime-local"]:-webkit-autofill:hover,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: whitesmoke !important;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  color: #0d1b2a;
  /* Navy blue */
  background-color: #ffcc00;
  /* Amber yellow */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto;
}

button:hover {
  background-color: #d18d00;
}

div .alert {
  color: rgba(178, 12, 89, 0.888);
  margin: 40px auto;
  width: 99%;
  position: relative;
}

div .link {
  text-align: center;
  padding: 35px;
}

.link a {
  color: rgb(208, 204, 204);
}

.signup a:hover {
  color: grey;
}

.card {
  width: 80%;
  padding: 0px 10px;
  background-color: rgb(60, 3, 60);
  color: #d18d00;
}

.card-header, .card-body {
  padding: 3px 0 !important;
  margin: 0 !important;
}

.card-body,  .list-group{
 --bs-list-group-bg:black;
}

.list-group-item {
  padding-left: 0px;
  color: white;
  border: none;
}

hr {
  background: white;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .container {
    max-width: 80%;
  }
}